<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}</title>
    <style>
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="z-index: 1000;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/home">Home</a>
                    {% if current_user.is_authenticated %}
                        <a class="nav-item nav-link" href="/forum">Forum</a>
                        <a class="nav-item nav-link" href="/logout">Logout</a>
                    {% else %}
                        <a class="nav-item nav-link" href="/login">Login</a>
                        <a class="nav-item nav-link" href="/sign-up">Sign up</a>
                    {% endif %}
                </div>
            </div>
            {% if current_user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-item nav-link navbar-nav pull-right" href="/create-post">Create Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link navbar-nav pull-right" href="/dashboard">Dashboard</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>
    <div class="container" style="z-index: 20;">{% block content %}{% endblock %}</div>
    <br/>
    <div aria-live="polite" aria-atomic="true" class="position-relative" style="z-index: 1000;">
        <!-- Position it: -->
        <!-- - `.toast-container` for spacing between toasts -->
        <!-- - `.position-absolute`, `top-0` & `end-0` to position the toasts in the upper right corner -->
        <!-- - `.p-3` to prevent the toasts from sticking to the edge of the container  -->
        <div class="toast-container p-3" style="position: fixed; bottom: 0; right: 0;">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == "error" %}
                            <div class="toast" role="error" aria-live="assertive" aria-atomic="true" data-bs-autohide="false" style="color: rgb(143, 17, 0);">
                                <div class="toast-header">
                                <strong class="me-auto">Error!</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                </div>
                                <div class="toast-body">
                                {{message}}
                                </div>
                            </div>
                        {% elif category == "success" %}
                            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false" style="color: rgb(0, 143, 43);">
                                <div class="toast-header">
                                <strong class="me-auto">Success!</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                </div>
                                <div class="toast-body">
                                {{message}}
                                </div>
                            </div>
                        {% else %}
                            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false" style="color: rgb(0, 133, 143);">
                                <div class="toast-header">
                                <strong class="me-auto">Alert!</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                </div>
                                <div class="toast-body">
                                {{message}}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}

        </div>
    </div>

    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" 
        crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function() {
            $(".toast").toast('show');
        });
    </script>
    <script>
        $('.autoresizing').on('input', function () {
            this.style.height = 'auto';
              
            this.style.height = 
                    (this.scrollHeight) + 'px';
        });
    </script>
    <script>
        $('textarea').on("input", function(){
            var maxlength = $(this).attr("maxlength");
            var currentLength = $(this).val().length;
            
            if( currentLength >= maxlength ){
                $(".text-max-len").text("You have reached the maximum number of characters.");
            }else{
                $(".text-max-len").text(maxlength - currentLength + " / " + maxlength);
            }
        });
    </script>
    <script>
        $(".daily-check").change(function() {
            if(this.checked) {
                window.location.href = "/toggle-daily/" + $(this).attr('dailyid');
            }
            if(!this.checked) {
                window.location.href = "/toggle-daily/" + $(this).attr('dailyid');
            }
        });
        $(".hobby-check").change(function() {
            if(this.checked) {
                window.location.href = "/toggle-hobby/" + $(this).attr('hobbyid');
            }
            if(!this.checked) {
                window.location.href = "/toggle-hobby/" + $(this).attr('hobbyid');
            }
        });
        $( "#smol" ).click(function() {
            console.log("good")
        });
    </script>

</body>
</html>