{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
</br>
<div class="card border-dark container-fluid">

    <div class="card-body">
        <h1 class="card-title">Make a new Post</h1>
        <form method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Title of post</label>
                <input name="title" type="text" class="form-control" id="title" placeholder="Title">
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">Text</label>
                <textarea wrap="off" name="text" id="text" class="form-control d-flex autoresizing" rows="5" style="width: 96%; display: block; overflow: hidden; resize: none;"></textarea>
            </div>
            <br />
            <div align="right">
                <button type="submit" class="btn btn-lg btn-primary">Post</button>
            </div>
        </form>
        <br />
        <div align="right">
            <a href="/home"><button type="button" class="btn btn-sm btn-secondary">Back</button></a>
        </div>
    </div>

</div>
{% endblock %}