{% extends "base.html" %}
{% block content %}
<div class='main'>
    <div class="submain-1" align="center">
        <h1 align="center">
            {{user.username}}
        </h1>
        <br/>
        <div class="submain-2">
            <div class="hobby form-group" style="float: left;">
                <form method="POST" style="display:flex; flex-direction:row; padding:2px;">
                    <input type="text" id="text" name="text" class="form-control input100" placeholder="Add Hobby" style="width:105%; flex-grow:2;"/>
                    <a href="#"><button class="btn btn-primary" type="submit">
                        +
                    </button></a>
                </form>
            </div>
            <div class="daily" style="float: right;">
                B
            </div>
        </div>
    </div>
</div>
{% endblock %}