{% extends "base.html" %}
{% block content %}
<div class='main'>
    <div class="dashboard-submain-1" align="center">
        <h1 align="center">
            {{user.username}}
            <p class="motivational">"{{quote}}" - {{author}}</p>
            <p class="tickets">tickets: {{user.tickets}}</p>
        </h1>
        <br/>
        <div class="flexbox-main">
            <div class="submain-2">
                <div class="daily form-group" style="float: left;">
                    <form method="POST" style="display:flex; flex-direction:row; padding:2px;" action="/create-daily/{{user.username}}">
                        <input type="text" id="text" name="text" class="form-control input100" placeholder="Daily task" style="width:20%; flex-grow:2;"/>
                        <button class="btn btn-primary" type="submit">
                            +
                        </button>
                    </form>
                    <ul class="card-item responsive-table">
                        {% for daily in dailies %}
                        <li class="table-rows"><input type="checkbox" id="check" class="daily-check col col-1" dailyid={{daily.id}}
                            {% if daily.checked == True %}
                            checked="checked"
                            {% endif %}
                            ><span class="list-text col col-2">{{daily.text}}</span><span class="prize col col-3">🏆{{daily.price}}🏆</span><a href="/delete-daily/{{daily.id}}" class="col col-4"><button class="btn btn-primary">Delete</button></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
    
            <div class="submain-3">
                <div class="hobby form-group" style="float: left;">
                    <form method="POST" style="display:flex; flex-direction:row; padding:2px;" action="/create-hobby/{{user.username}}">
                        <input type="text" id="text" name="text" class="form-control input100" placeholder="Add Hobby" style="width:105%; flex-grow:2;"/>
                        <button class="btn btn-primary" type="submit">
                            +
                        </button></a>
                    </form>
                    <ul class="card-item">
                        {% for hobby in hobbies %}
                        <li><input type="checkbox" id="check" class="hobby-check" hobbyid={{hobby.id}}
                            {% if hobby.checked == True %}
                            checked="checked"
                            {% endif %}
                            ><span class="list-text">{{hobby.text}}</span><span class="prize">🏆{{hobby.price}}🏆</span><a href="/delete-hobby/{{hobby.id}}"><button class="btn btn-primary">Delete</button></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}