{% extends "base.html" %}
{% block content %}
<br/>
<br/>
<br/>
<br/>
<div class='main'>
    <div class="submain-1">
        <p class="para">
            The pandemic spared no one from its hardships , 
            especially students . Students writing their Entrance or board
            examinations had it the worst. From being hounded by constant assignments 
            to worrying about their family members , they had to overcome major amounts o
            f mental stress in a world where mental health wasn't given due attention .
            We ourselves were the 10th grade students of the 2020-21 batch and have seen 
            numerous challenges learning online. We felt that the online system of learning
            however beneficial is also very distracting and degrading to our health. 
            For this we planned a web app that provides useful ideas about the world 
            of mental health along with a few activities the web app prompts the 
            user to do . These are rewarded by the app if the user completes it
            in the given time. These are then used to ‘Redeem’ fun activities , 
            like eating a chocolate or scrolling through social media for a break . 
        </p>
        <button type="button" class="dashboard-btn" onclick="location.href = '/dashboard';" style="width:50%; margin-left:25%; margin-right:25%;">
            Dashboard
        </button>
    </div>
</div>
{% endblock %}