{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 align="center" style="z-index: 100;">Posts</h1>
<div id="posts" style="z-index: 80;">
{% for post in posts %}
<div class="card border-dark post_color">
    <div class="card-body" style="transform: rotate(0);">
        <div class="card-text"><h6 class="card-text">{{post.text}}</h6></div>
        <a href="/post/{{post.id}}" class="stretched-link" style="z-index: 0;"></a>
    </div>
    <div class="card-footer text-muted" style="height: 3;">
        <div align="left" style="float:left;">
            {% if current_user.permission_level > 0 %}
                {% if post.user.permission_level > 0 %}
                <a href="/dashboard/{{post.user.username}}">{{post.user.username}}<img src="https://img.icons8.com/material-outlined/24/26e07f/approval.png"/></a>
                {% else %}
                <a href="/dashboard/{{post.user.username}}">{{post.user.username}}</a>
                {% endif %}
            {% else %}
                {% if post.user.permission_level > 0 %}
                <a href="/dashboard/{{post.user.username}}">{{post.user.username}}<img src="https://img.icons8.com/material-outlined/24/26e07f/approval.png"/></a>
                {% else %}
                <a href="/dashboard/{{post.user.username}}">{{post.user.username}}</a>
                {% endif %}
            {% endif %}
        </div>
        <div align="right" style="float:right;">
        {% if current_user.id == post.author %}
        <div class="btn-group dropdown">
            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown"></button>
            <ul class="dropdown-menu">
                <li><a href="/delete-post/{{post.id}}" class="dropdown-item">Delete</a></li>
            </ul>
        </div>
        {% endif %}
        </div>
    </div>
</div>
<br/>
{% endfor %}
</div>
{% block footer %}
{% endblock %}
{% endblock %}
