{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% block content %}

<form method="POST">
    
    <div class="form-group auth-input">
            <h1 align="center">
                Sign up
            </h1>
        <label for="email">Email Address</label>
        <input type="text" id="email" name="email" class="form-control input100" placeholder="Enter Email"/>
        <br/>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control input100" placeholder="Enter Username"/>
        <br/>
        <label for="password">Password</label>
        <input type="password" id="password1" name="password1" class="form-control input100" placeholder="Enter Password"/>
        <br/>
        <label for="password">Password Confirmation</label>
        <input type="password" id="password2" name="password2" class="form-control input100" placeholder="Enter Password Again"/>
        <br/>
        <div align="center">
            <button class="btn btn-primary auth-button" type="submit">
                Sign Up
            </button>
        </div>
    </div>
</form>

{% endblock %}