{% extends "base.html" %}
{% block title %}{{account.username}}{% endblock %}
{% block content %}
<!-- user = current user visiting page; account = the account which is shown on screen-->
<br/>
<div class="card border-dark">
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div style="height: 20%;">
                    <h4 class="card-title">Username : {{account.username}}</h4>
                </div>
                <div style="height: 20%;">
                    <h4 class="card-title">Nickname : {{account.nick_name}}</h4>
                </div>
            </li>
            <li class="list-group-item">
                <div style="width: 20%;">
                    <p>About : {{account.about}}</p>
                </div>
            </li>
            {% if user.id == account.id %}
            <li class="list-group-item">
                <div style="float: right;" class="btn-group dropdown">
                    <button type="button" class="btn btn-sm btn-primary" onclick="window.location.href='/user/{{account.username}}/edit'">Edit Profile</button>
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
