@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


.nav-item{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: white;
}

.submain-1{
    padding: 5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dashboard-btn{
    background: #222527;
    width: 180px;
    padding: 10px 10px;
    color: white;
    border-radius: 0.9rem;
    border-style: none;
    transition-duration: 0.4s;
    text-decoration: none;
    margin-top: 3rem;

}

.dashboard-btn:hover{
    color: rgb(187, 187, 187);
    text-decoration: none;
}

.auth-input{
    background-color: #6640a3;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 500px;
    padding: 50px;
    color: white;
    border-radius: 2rem;

    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.paddings {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.form-btn{
    margin-top: 30px;
}

.auth-button{
    width: 180px;
    padding: 20px;
}

@media screen and (max-width: 200px) {
    .submain-1{
        font-size: 0.4rem;
    }

    .dashboard-btn{
        font-size: 0.3rem;
        width: 100px;
        padding: 10px;
    }
  }

body {
    background-image: url("/static/background.svg");
    background-size: 100% auto;
}

/* TEST */

.input100 {
    font-size: 16px;
    color: #000000;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 55px;
    padding: 0 20px 0 23px;
}

.input100:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}