@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

.body{
    background: linear-gradient(30deg, rgba(0,0,0,1) 0%, rgba(57,57,111,1) 47%, rgba(255,255,255,1) 100%); 
}

.nav-item{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: white;
}

.submain-1{
    padding-top: 6rem;
    padding-left: 10rem;
    padding-right: 10rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}

.dashboard-btn{
    background: #222527;
    width: 180px;
    padding: 10px 10px;
    color: white;
    border-radius: 0.9rem;
    border-style: none;
    transition-duration: 0.4s;
    text-decoration: none;
    margin-top: 3rem;

}

.dashboard-btn:hover{
    color: rgb(187, 187, 187);
    text-decoration: none;
}

.form-group{
    background-color: #858585;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 500px;
    padding: 50px;
    color: white;
    border-radius: 2rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.paddings {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.form-btn{
    margin-top: 30px;
}

.btn{
    width: 180px;
    padding: 20px;
}

@media screen and (max-width: 200px) {
    .submain-1{
        font-size: 0.4rem;
    }

    .dashboard-btn{
        width: 100px;
        padding: 10px;
    }
  }