@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(103,56,255);
    background: linear-gradient(27deg, rgba(103,56,255,1) 0%, rgba(203,187,255,1) 47%, rgba(255,255,255,1) 100%);
    background-repeat: repeat;
    height: 100vh;
    background-attachment: fixed;
}

nav{
    margin-bottom: 2rem;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 50px;
}

.nav-item{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: white;
}

.submain-3{
    margin-left: 3rem;
}

.flexbox-main{
    display: flex;
    align-content: space-between;
}

.dashboard-submain-1{
    padding: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 8px 8px 3px grey;
}

.motivational{
    font-size: 1.5rem;
    font-family: 'Style Script', cursive;
}

.tickets{
    font-size: 1rem;
}

.submain-1{
    padding: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 8px 8px 3px grey;
}

.dashboard-btn{
    background: #222527;
    width: 180px;
    padding: 10px 10px;
    color: white;
    border-radius: 0.9rem;
    border-style: none;
    transition-duration: 0.4s;
    text-decoration: none;
    margin-top: 3rem;

}

.dashboard-btn:hover{
    color: rgb(187, 187, 187);
    text-decoration: none;
}

.auth-input{
    background-color: #6640a3;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 500px;
    padding: 50px;
    color: white;
    border-radius: 2rem;

    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.paddings {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.form-btn{
    margin-top: 30px;
}

.btn-primary{
    background-color: #C3AFEF;
    border-style: none;

}

.auth-button{
    width: 180px;
    padding: 20px;
}

.card-item{
    text-align: center;
	font-size: 18px;
	padding: 20px;
	list-style-position: inside;
    list-style-type: none;
}

.list-text{
    padding:1rem;
}

#posts{
    height: auto;
    margin-top: auto;
    width: 800px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 13px;
    box-shadow: 8px 8px 3px grey;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-title{
    font-weight: 400;
    font-size: 1.3rem;
}

.dash-btn{
    margin-left: 20px;
}


@media screen and (max-width: 200px) {
    .submain-1{
        font-size: 0.4rem;
    }

    .dashboard-btn{
        font-size: 0.3rem;
        width: 100px;
        padding: 10px;
    }
  }

  .column-left{ float: left; width: 30%; }
  .column-right{ float: right; width: 33.333%; }
  .column-center{ display: inline-block; width: 33.333%; }